@import "./styles/_scss-vars.scss";
@import "./styles/_reset.scss";

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $color-bg;
  color: $color-secondary;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 5px;
}

//
// Components
//

a {
  text-decoration: none;
}

a,
.link-primary {
  color: $color-primary;
  font-weight: bold;

  &:hover {
    border-radius: 5px;
    margin: -3px;
    padding: 3px;
    background-color: $color-bg-highlight;
    color: $color-primary-highlight;
  }
}

.link-primary {
  cursor: pointer;
}

.btn-primary {
  border: 1px solid #00cc00;
  border-radius: 5px;
  background-color: $color-bg;
  color: $color-primary;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 1em;

  &:hover {
    background-color: $color-bg-highlight;
    color: $color-primary-highlight;
    cursor: pointer;
  }

  &:focus {
    outline: auto;
  }
}

form {
  .field {
    margin: 0 5px 15px 5px;

    &:last-child {
      margin: 0 5px;
    }
  }
}
