@import "./styles/_scss-vars.scss";

.artist-input {
  position: relative;
  display: inline-block;
}

.artist-results {
  position: absolute;
  width: 100%;
  border: 1px solid $color-primary;
  border-radius: 5px;
  background: $color-bg;
  color: $color-primary;
  z-index: 999;

  .artist-result {
    padding: 1px 2px;
    cursor: pointer;
    font-weight: bold;

    &:hover,
    &.selected {
      background: $color-bg-highlight;
      color: $color-primary-highlight;

      a {
        color: $color-primary-highlight;
      }
    }

    a:hover {
      text-decoration: none;
    }
  }
}
