@import "./styles/_scss-vars.scss";

.drop-menu {
  .menu {
    position: absolute;
    right: 0;
    top: 1.5em;
    z-index: 3;

    background-color: $color-bg;
    padding: 15px;
    border: 1px solid $color-primary;
    border-radius: 5px;
  }
}
