@import "./styles/_scss-vars.scss";

.new-tab-form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.field {
  margin: 0 5px 15px 5px;
}

.meta-input {
  display: flex;
}

.field-tab {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.tab-input {
  display: block;
  border: 1px solid #00cc00;
  border-radius: 5px;
  background-color: $color-bg;
  color: $color-primary;
  outline: none;
  padding: 9px;
  font-weight: bold;
  font-size: 16px;
}
