.field {
  margin-bottom: 15px;

  label {
    margin-right: 15px;
    vertical-align: middle;
  }

  textarea {

  }
}

.artist-input {
  position: relative;
  display: inline-block;
  border: 1px solid #00cc00;
  border-radius: 5px;
  background: #030303;
  color: #00cc00;
  padding: 3px;
}

.artist-results {
  position: absolute;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  background: #ff00ff;

  .artist-result {
    padding: 1px 2px;
    cursor: pointer;
  }
}

.tab-input {
  display: block;
}
