.search {
  flex: 0 0 auto;
  position: relative;
  border: 1px solid #00cc00;
  border-radius: 5px;
  background: #030303;
  color: #00cc00;
  padding: 3px;

  .icon {
    vertical-align: middle;
  }
}
