.search-input-container {
  padding: 5px;

  .search-input {
    background: #030303;
    border: none;
    outline: none;
    color: #00cc00;
    font-weight: bold;
  }

  .search-reset {
    border: 1px solid transparent;
    background-color: transparent;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
    color: #00cc00;

    &.hidden {
      visibility: hidden;
    }
  }
}
