@import "./styles/_scss-vars.scss";

.search-input {
  display: inline-block;
  border: 1px solid #00cc00;
  border-radius: 5px;
  background-color: $color-bg;
  color: $color-primary;
  padding: 5px;

  .icon {
    vertical-align: text-bottom;
    margin-right: 3px;
  }

  input[type="text"] {
    background-color: $color-bg;
    border: none;
    outline: none;
    color: $color-primary;
    font-weight: bold;

    &::placeholder {
      color: $color-secondary;
    }
  }

  .search-reset {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
    color: $color-primary;
    cursor: pointer;

    &.hidden {
      visibility: hidden;
    }
  }
}
