@import "./styles/_scss-vars.scss";

.signed-in-menu {
  .menu-btn,
  .menu-btn:hover {
    margin: 0;
    padding: 5px 10px;
  }

  .menu {
    position: absolute;
    right: 0;

    background-color: $color-bg;
    padding: 15px;
    border: 1px solid $color-primary;
    border-radius: 5px;

    .footer {
      margin-top: 15px;
    }
  }
}
