@import "./styles/_scss-vars.scss";

.tab-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab-actions {
  display: flex;

  .action,
  .link-primary.action {
    margin: 0;
    margin-left: 5px;
    padding: 5px 10px;
  }
}

.tab {
  color: $color-primary;
}
