.tab-form {
  display: flex;
  flex-direction: column;
  flex: 1;

  .field {
    &.tab {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }

  .meta-input {
    display: flex;
  }
}
