@import "./styles/_scss-vars.scss";

.text-input {
  position: relative;
  display: inline-block;
  border: 1px solid #00cc00;
  border-radius: 5px;
  background-color: $color-bg;
  color: $color-primary;
  padding: 5px;

  input {
    background: $color-bg;
    border: none;
    outline: none;
    color: $color-primary;
    font-weight: bold;

    &::placeholder {
      color: $color-secondary;
    }
  }
}
