.header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  a:hover {
    text-decoration: none;
  }
}

.app-banner {
  font-size: 33px;
  color: #00cc00;
  margin: 0px 15px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: baseline;

  .new-tab-link {
    margin: 5px;

    .icon {
      vertical-align: bottom;
    }
  }
}

.gap {
  flex: 1;
}
